@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik+Dirt&display=swap');


*{
    font-family: 'Poppins', sans-serif;
    --brown: rgb(132,72,64);
    --green: rgba(88,127,75,255);
}


.bg-green{
    background-color: var(--green);
}

.bg-brown{
    background-color: var(--brown) !important;
}

.font-body{
    font-size: 1.1rem;
}

header h2{
    font-family: 'Rubik Dirt', cursive;
}

h2{
    font-family: cursive;
}

.text-brown{
    color: var(--brown);
}

.img-fit{
    object-fit: cover;
}

.carousel-caption{
    bottom: 40% !important;
    transform: translateY(40%) !important;
    left: 15%;
}

.mission-badge{
    --size: 50px;
    width: var(--size) ;
    height: var(--size);
}

.mission-statement{
    width: 340px !important;
    max-width: 100%;
    height: 400px;
}

.services-container::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 8px var(--green) solid;
    transform: translateX(-10%);
    z-index: -1;
}

.service-icon-container{
    --size: 80px;
    width: var(--size);
    height: var(--size);
}

.services-htag{
    font-size: 2.5rem !important;
    font-weight: lighter !important;
}