@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik+Dirt&display=swap');


*{
    font-family: 'Poppins', sans-serif;
    --brown: rgb(132,72,64);
    --green: rgba(88,127,75,255);
}


.bg-green{
    background-color: var(--green);
}

.bg-brown{
    background-color: var(--brown) !important;
}

.font-body{
    font-size: 1.1rem;
}

.font-inherit{
    font-family: inherit;
}

.overflow-y-hidden{
    overflow-y: hidden;
}

.object-fit{
    object-fit: cover;
}


.img-fit{
    object-fit: cover;
}

.ratio-1x1{
    aspect-ratio: 1/1 !important;
    --bs-aspect-ratio: 100% !important;
}

header h2{
    font-family: 'Rubik Dirt', cursive;
}

h2{
    font-family: cursive;
}

.text-brown{
    color: var(--brown);
}

