<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../static/assets/logos/cleverland-logo2.png">
    <title>CleverLand Academy</title>


    <!-- bootstrap cdn -->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>

    <!-- bootstrap icon cdn -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <!-- font awesome cdn link -->
    <script src="https://kit.fontawesome.com/a09955f591.js" crossorigin="anonymous"></script>

    <!-- gliderjs cdn -->

    <link rel="stylesheet" href="../static/css/glider.min.css">
    <link rel="stylesheet" href="../static/css/main.css">
</head>

<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-brown" aria-label="Eighth navbar example">
            <div class="container">

                <a class="navbar-brand" href="#">
                    <img src="../static/assets/logos/cleverland-logo2.png" alt="Cleverland logo" width="45" height="45">
                    CleverLand Academy
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarsExample07">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item me-2">
                            <a class="nav-link text-light active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item me-2">
                            <a class="nav-link text-light" href="#">About</a>
                        </li>
                        <li class="nav-item me-2">
                            <a class="nav-link text-light" href="#">Contact</a>
                        </li>
                        <li class="nav-item me-2 dropdown">
                            <a class="nav-link text-light dropdown-toggle" href="#" data-bs-toggle="dropdown"
                                aria-expanded="false">student portal</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">student profile</a></li>
                                <li><a class="dropdown-item" href="#">student result</a></li>
                                <li><a class="dropdown-item" href="#">student assignment</a></li>
                            </ul>
                       </li>
                        <li class="nav-item me-2">
                            <a class="nav-link text-light btn btn-warning text-light"><i
                                    class="fa-solid fa-pen me-2"></i>Enroll Kids</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel"
            style="background-color: rgba(53, 39, 39, 0.4);">
            <div class="carousel-inner">
                <div class="carousel-item ">
                    <img src="../static/assets/header-img/slides/image-1.jpg" class="d-block w-100 img-fit" height="500px"
                        alt="...">
                    <div class="carousel-caption ">
                        <h2 class="display-2">First slide label</h2>
                        <p class="">Some representative placeholder content for the first slide.</p>
                    </div>
                </div>
                <div class="carousel-item active">
                    <img src="../static/assets/header-img/slides/image-2.jpg" class="d-block w-100 img-fit" height="500px"
                        alt="...">
                    <div class="carousel-caption ">
                        <h2 class="display-2">Second slide label</h2>
                        <p class="">Some representative placeholder content for the second slide.</p>
                    </div>
                </div>
                <div class="carousel-item ">
                    <img src="../static/assets/header-img/slides/image-3.jpg" class="d-block w-100 img-fit" height="500px"
                        alt="...">
                    <div class="carousel-caption ">
                        <h2 class="display-2">Third slide label</h2>
                        <p class="">Some representative placeholder content for the third slide.</p>
                    </div>
                </div>
            </div>
        </div> -->


        <div class="">

            <div class="d-md-flex justify-content-between " style="background: linear-gradient( rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35) ),url(../static/assets/header-img/slides/image-1.jpg) ; background-repeat: no-repeat; background-size: cover;">

                <div class="align-self-start d-none d-md-block mt-4">
                    <div class="rounded-circle bg-danger ratio-1x1 m-3 d-flex align-items-end justify-content-center overflow-y-hidden" style="width: 350px; max-width: 100%;">
                        <img class="object-fit " src="../static/assets/header-img/girl-student.png" height="100%" alt="cleverland male student picture">
                    </div>
                </div>

                <div class=" pt-4">

                    <div class="text-center">
                        <h1 class="display-4 pt-4 text-light">Better Future For Kids</h1>
                        <p class="bg-light p-2 shadow-sm mt-4 mx-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>

                        <a class="btn btn-lg btn-secondary rounded-pill shadow px-5 py-3 mt-2">Enroll Kid 
                            <span><i class="bi bi-arrow-right-short rounded-circle bg-warning px-2 py-1 ms-2"></i></span>
                        </a>
                    </div>

                    <div class="illustration mt-4 text-light px-2">

                        <div class="d-flex w-50">
                            <div class="" >
                                <i class="fa-solid fa-check-double text-primary rounded-circle shadow-sm bg-light p-2 me-2 fs-3 "></i>
                            </div>
                           <div class="">
                                <h3>7.2k+</h3>
                                <p>Over Total student passed jamb successfully</p>
                           </div>
                        </div>

                        <div class="d-flex w-50 float-end">
                            <div class="" >
                                <i class="bi bi-lightning-charge-fill text-primary rounded-circle  shadow-sm bg-light px-2 py-1 me-2 fs-3 "></i>
                            </div>
                           <div class="">
                                <h3>50+</h3>
                                <p>Available field program and increasing</p>
                           </div>
                        </div>

                    </div>

                </div>

                <div class="align-self-end">
                    <div class="rounded-circle bg-danger ratio-1x1 m-3 mx-auto d-flex align-items-end justify-content-center overflow-y-hidden " style="width: 350px; max-width: 100%;">
                        <img class="object-fit" src="../static/assets/header-img/pngwing.com.png" height="100%" alt="cleverland male student picture">
                    </div>
                </div>
            </div>

        </div>

    </header>


    <main>

        <section id="about" class="position-relative">

            <div class="pt-5 text-center container ">
                <h2 class="fs-1 text-brown mb-3 ">Welcome To CleverLand Academy</h2>
                <p class="w-75 mx-auto lh-lg font-body">We maintain a world class and a colorful well-equipped learning<br>
                environment that has a spacious playground, play hall, mini sport field for recreation and physical education, standard laboratory, conducive<br>
                library, ICT/E-learning lab, Superb Home Economics Lab, Creative Arts studio, Language Lab, Standard Music lab, Health-bay and Ac Buses.
                <p>
            </div>

            <div id="about-page-accent-container" class="position-absolute top-0 bottom-0 start-0 end-0">

            </div>

        </section>


        <section class="container my-5">

            <div class="row justify-content-around px-2">

                <div class="mission-statement col-12 col-md-4 mb-5 position-relative bg-green" >
                    <div
                        class="mission-badge position-absolute top-0 start-50 translate-middle rounded-circle bg-green text-white d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-earth-africa fs-4"></i>
                    </div>
                    <div class="text-white text-center mt-5">
                        <h4>Vision</h4>
                        <p class="px-3 text-center py-4 text-white">
                            Cleverland is comitted to inspire children attain the highest standard,intellectual and personal development through stimulatingand omprehensive programme. this vision is actualized within a caring,motivational, disciplined, respectful and multi-cultural environment ware resilient and adaptable, 
                            <!-- and equipped with knowledge, skills and dispostion to continue their education and personally fulfilled, independent, and socially responsible young adults. -->
                        </p>
                    </div>
                </div>
                <div class="mission-statement col-12 col-md-4 mb-5 position-relative bg-danger" style="min-height: fit-content;" >
                    <div
                        class="mission-badge position-absolute top-0 start-50 translate-middle rounded-circle bg-danger text-white d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-rocket fs-4"></i>
                    </div>
                    <div class="text-white text-center mt-5" >
                        <h4>Mission</h4>
                        <p class="px-3 text-center py-4 text-white" >
                            At Cleverland, the learners and the school constitute a perciving, mutually influencing total system
                            The school provides every child with a diverse education in self-discipline, motivation, wisdom, excellence and integrity in learning. One must also note that  this is
                            an environment in which socio-cultural and physical factors interact <!--  opportune to discover not only their natural intelligence butalso their customary perception of calculated and desired goals and achievements.
                            Once this is realized, the individual will someday come around to do things without much efforts as it was previously seemed as impossible.  -->
                        </p>
                    </div>
                </div>
                <div class="mission-statement col-12 col-md-4 mb-5 position-relative bg-primary">
                    <div
                        class="mission-badge position-absolute top-0 start-50 translate-middle rounded-circle bg-primary text-white d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-graduation-cap fs-4"></i>
                    </div>
                    <div class="text-white text-center mt-5">
                        <h4>Educational Philosophy</h4>
                        <p class="px-3 text-center py-4 text-white">
                            To provide educational opportunities that will help students develop attributes of excellent endeavours, self discipline, tolerance, creativity, responsibility, a spirit ofenquiry and clear sense of world citizenship.  Cleverland Academy is comitted to help all students shape, support and sustain system wide innovatio and improvement in learning.
                        </p>
                    </div>
                </div>

            </div>

        </section>


        <section class="my-2 mb-5 container">

            <div class="row container mx-auto" id="what-set-cleverland-apart">

                <div class="col-12 col-md-6 mb-4">
                    <h2 class="display-4 mb-4 text-center text-md-start text-brown">What Sets Cleverland Apart</h4>
                        <p class="lh-lg font-body text-center text-md-start">We maintain a world class and a colorful well-equipped learning<br>
                            environment that has a spacious playground, play hall, mini sport field for recreation and physical education, standard laboratory, conducive<br>
                            library, ICT/E-learning lab, Superb Home Economics Lab, Creative Arts studio, Language Lab, Standard Music lab, Health-bay and Ac Buses.</p>
                </div>

                <div class="col-12 col-md-6 ">
                    <div class=" services-container position-relative bg-white shadow row p-4 g-4">

                        <div class="col-12 col-md-6 d-flex ">
                            <div
                                class="service-icon-container mb-2 bg-brown rounded-circle d-flex justify-content-around align-items-center text-white me-2">
                                <i class="fs-2 fa-solid fa-chair"></i>
                            </div>
                            <div>
                                <h4 class="services-htag display-4">C</h4>
                                <p> Conducive and well learning environment</p>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 d-flex ">
                            <div
                                class="service-icon-container mb-2 bg-brown rounded-circle d-flex justify-content-around align-items-center text-white me-2">
                                <i class="fs-2 fa-solid fa-chair"></i>
                            </div>
                            <div>
                                <h4 class="services-htag display-4">L</h4>
                                <p> Modern stocked library/ E-library</p>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 d-flex ">
                            <div
                                class="service-icon-container mb-2 bg-brown rounded-circle d-flex justify-content-around align-items-center text-white me-2">
                                <i class="fs-2 fa-solid fa-chair"></i>
                            </div>
                            <div>
                                <h4 class="services-htag display-4">E</h4>
                    <p> Well equipped & standard Ict, Science, Language art, Music and Home Economics laboratories</p>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 d-flex ">
                            <div
                                class="service-icon-container mb-2 bg-brown rounded-circle d-flex justify-content-around align-items-center text-white me-2">
                                <i class="fs-2 fa-solid fa-chair"></i>
                            </div>
                            <div>
                                <h4 class="services-htag display-4">V</h4>
                                <p>Qualified, Assiduous, Experirnced Proffessional & Resourceful Teachers Both NIgerian and Foreign Experts</p>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 d-flex ">
                            <div
                                class="service-icon-container mb-2 bg-brown rounded-circle d-flex justify-content-around align-items-center text-white me-2">
                                <i class="fs-2 fa-solid fa-chair"></i>
                            </div>
                            <div>
                                <h4 class="services-htag display-4">E</h4>
                                <p>Standard classroms with interactive/electronic smart boards for easy learning access</p>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 d-flex ">
                            <div
                                class="service-icon-container mb-2 bg-brown rounded-circle d-flex justify-content-around align-items-center text-white me-2">
                                <i class="fs-2 fa-solid fa-chair"></i>
                            </div>
                            <div>
                                <h4 class="services-htag display-4">R</h4>
                                <p> Sports & recreatonal facilities</p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>


        </section>


        <section id="extramoral-section" class="my-5 pt-5">
            <div class="row">

                <div class="extramoral-heading-section col-12 col-md-5 position-relative pe-0 h-100"
                    style="height: 500px;">
                    <img class="h-100 w-100 img-fit " src="../static/assets/extramorals/extramoral-top.jpg" alt="">

                    <div class="position-absolute bottom-0 top-0 start-0 w-100 text-white p-2 ps-5 pb-5 d-flex align-items-end"
                        style="background-color: rgba(53, 39, 39, 0.1);">
                        <div class="">
                            <h4 class="fs-2">We Go Beyound The Corriculum</h4>
                            <p class="">CleverLand has so much to offer and explore. See what becoming a part of our
                                community means.</p>
                            <button class="btn btn-lg btn-outline-warning">Apply</button>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md row  g-0 ps-0">
                    <div class="extramoral col-6 col-md-4 position-relative">
                        <img class="z-index-1 img-fit position-absolute w-100 h-100"
                            src="../static/assets/extramorals/code-club.jpg" alt="">
                        <div
                            class="extramoral-text text-white w-100 h-100 d-flex align-items-center justify-content-center">
                            <p class="fs-3">Code club</p>
                        </div>
                    </div>
                    <div class="extramoral col-6 col-md-4 position-relative">
                        <img class="z-index-1 img-fit position-absolute w-100 h-100"
                            src="../static/assets/extramorals/chess-club.jpg" alt="">
                        <div
                            class="extramoral-text text-white w-100 h-100 d-flex align-items-center justify-content-center">
                            <p class="fs-3">Chess club</p>
                        </div>
                    </div>
                    <div class="extramoral col-6 col-md-4 position-relative">
                        <img class="z-index-1 img-fit position-absolute w-100 h-100"
                            src="../static/assets/extramorals/sport.jpg" alt="">
                        <div
                            class="extramoral-text text-white w-100 h-100 d-flex align-items-center justify-content-center ">
                            <p class="fs-3">Sports</p>
                        </div>
                    </div>
                    <div class="extramoral col-6 col-md-4 position-relative">
                        <img class="z-index-1 img-fit position-absolute w-100 h-100"
                            src="../static/assets/extramorals/music-club.jpg" alt="">
                        <div
                            class="extramoral-text text-white w-100 h-100 d-flex align-items-center justify-content-center">
                            <p class="fs-3">Music Classes</p>
                        </div>
                    </div>
                    <div class="extramoral col-6 col-md-4 position-relative">
                        <img class="z-index-1 img-fit position-absolute w-100 h-100"
                            src="../static/assets/extramorals/art-club.jpg" alt="">
                        <div
                            class="extramoral-text text-white w-100 h-100 d-flex align-items-center justify-content-center">
                            <p class="fs-3">Art club</p>
                        </div>
                    </div>
                    <div class="extramoral col-6 col-md-4 position-relative">
                        <img class="z-index-1 img-fit position-absolute w-100 h-100"
                            src="../static/assets/extramorals/sport.jpg" alt="">
                        <div class="extramoral-text text-white w-100 h-100 d-flex align-items-center justify-content-center ">
                            <p class="fs-3">Press club</p>
                        </div>
                    </div>
                </div>

            </div>
        </section>


        <section class="our-extramoral container my-5 pt-5">

            <div class="text-center mb-5 position-relative mx-auto" style="width: fit-content;">
                <h2 class="text-center text-brown fs-1  d-inline " style="font-family: 'Rubik Dirt', cursive;"><span
                        class="text-primary font-inherit">Our Tea</span>m/Staff</h2>
                <div class="position-absolute bottom-0 w-50 bg-primary" style="height: 5px;"></div>
            </div>

            <div class="d-flex align-items-center">

                <div class="staff-carousel-prev fs-1 text-dark">
                    <i class="bi bi-chevron-left"></i>
                </div>

                <div id="staffs" class="d-flex overfow-auto ">

                    <div class="teacher-container text-center">
                        <img class="rounded-circle mb-2 border border-danger border-3"
                            src="../static/assets/teachers/img-1.jpg" width="200px" alt="">
                        <h5>Godfred Godwin Obot</h5>
                        <p class="d-none">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, quod?
                        </p>
                    </div>

                    <div class="teacher-container text-center">
                        <img class="rounded-circle mb-2 border border-danger border-3"
                            src="../static/assets/teachers/img-2.jpg" width="200px" alt="">
                        <h5>Godfred Godwin Obot</h5>
                        <p class="d-none">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, quod?
                        </p>
                    </div>

                    <div class="teacher-container text-center">
                        <img class="rounded-circle mb-2 border border-danger border-3"
                            src="../static/assets/teachers/img-3.jpg" width="200px" alt="">
                        <h5>Godfred Godwin Obot</h5>
                        <p class="d-none">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, quod?
                        </p>
                    </div>

                    <div class="teacher-container text-center">
                        <img class="rounded-circle mb-2 border border-danger border-3"
                            src="../static/assets/teachers/img-4.jpg" width="200px" alt="">
                        <h5>Godfred Godwin Obot</h5>
                        <p class="d-none">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, quod?
                        </p>
                    </div>

                    <div class="teacher-container text-center">
                        <img class="rounded-circle mb-2 border border-danger border-3"
                            src="../static/assets/teachers/img-2.jpg" width="200px" alt="">
                        <h5>Godfred Godwin Obot</h5>
                        <p class="d-none">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, quod?
                        </p>
                    </div>

                    <div class="teacher-container text-center">
                        <img class="rounded-circle mb-2 border border-danger border-3"
                            src="../static/assets/teachers/img-4.jpg" width="200px" alt="">
                        <h5>Godfred Godwin Obot</h5>
                        <p class="d-none">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, quod?
                        </p>
                    </div>

                    <div class="teacher-container text-center">
                        <img class="rounded-circle mb-2 border border-danger border-3"
                            src="../static/assets/teachers/img-3.jpg" width="200px" alt="">
                        <h5>Godfred Godwin Obot</h5>
                        <p class="d-none">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, quod?
                        </p>
                    </div>

                    <div class="teacher-container text-center">
                        <img class="rounded-circle mb-2 border border-danger border-3"
                            src="../static/assets/teachers/img-1.jpg" width="200px" alt="">
                        <h5>Godfred Godwin Obot</h5>
                        <p class="d-none">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, quod?
                        </p>
                    </div>

                </div>

                <div class="staff-carousel-next fs-1">
                    <i class="bi bi-chevron-right"></i>
                </div>

            </div>

            <div id="teachers-carousel-dots"></div>
        </section>

        <section id="testimonials" class="container my-3">
            <h2>What Parents Are Saying</h2>
            <div class="d-md-flex justify-content-around mx-auto">

                <article class="card testimonial mb-2 p-4 rounded-3 mx-auto" style="width: 18rem;">
                    <img class="rounded-circle img-fit mx-auto" src="../static/assets/teachers/img-1.jpg" width="60px"
                        height="60px" alt="">
                    <div class="card-body">
                        <blockquote class="card-text text-center">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, repudiandae. Sit eveniet ad ullam rem.
                        </blockquote>
                        <div class="my-2">
                            <a href="#" class="card-link text-dark fw-bolder text-decoration-none">Nill Smith - </a>
                            <a href="#" class="card-link text-warning text-decoration-none">Another link</a>
                        </div>
                    </div>

                </article>

                <article class="card testimonial mb-2 p-4 rounded-3 mx-auto align-self-start" style="width: 18rem;">
                    <img class="rounded-circle img-fit mx-auto" src="../static/assets/teachers/img-2.jpg" width="60px"
                        height="60px" alt="">
                    <div class="card-body">
                        <blockquote class="card-text text-center">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, repudiandae. Sit eveniet ad ullam rem.
                        </blockquote>
                        <div class="my-2">
                            <a href="#" class="card-link text-dark fw-bolder text-decoration-none">Nill Smith - </a>
                            <a href="#" class="card-link text-warning text-decoration-none">Another link</a>
                        </div>
                    </div>

                </article>

                <article class="card testimonial mb-2 p-4 rounded-3 mx-auto" style="width: 18rem;">
                    <img class="rounded-circle img-fit mx-auto" src="../static/assets/teachers/img-3.jpg" width="60px"
                        height="60px" alt="">
                    <div class="card-body">
                        <blockquote class="card-text text-center">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, repudiandae. Sit eveniet ad ullam rem.
                        </blockquote>
                        <div class="my-2">
                            <a href="#" class="card-link text-dark fw-bolder text-decoration-none">Nill Smith - </a>
                            <a href="#" class="card-link text-warning text-decoration-none">Another link</a>
                        </div>
                    </div>

                </article>


            </div>
        </section>

    </main>



    <footer class="mt-5 bg-brown text-light">

        <div class="container py-5 px-4">
              <div class="row ">

                <div class="col-12 col-md-2 mb-3 text-center ">
                    <div id="footer-logo" class="w-75  mx-auto">
                        <img class="w-100 " src="../static/assets/logos/cleverland-logo.png" alt="">
                    </div>
                </div>

                <div class="col-md-4 offset-md-1 mb-3 d-md-flex justify-content-center align-items-center">
                    <div class="text-center">
                      <h5>ADDRESS</h5>
                      <address>
                          1733 W. Girard Avenue, Philadelphia PA 19130 <br>
                          Phone Number: <a href="tel:1-215-978-1950" class="text-white text-decoration-none">(215) 978-1950</a> <br>
                          Email: <a class="text-white text-decoration-none" href="mailto:winninggodpower@gmail.com">winninggodpower@gmail.com</a>
                          
                      </address>
                    </div>
                  </div>
          
                <div class="col-6 col-md-2 mb-3">
                  <h5>Section</h5>
                  <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link text-light p-0 opacity-75">Home</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link text-light p-0 opacity-75">Features</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link text-light p-0 opacity-75">Pricing</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link text-light p-0 opacity-75">FAQs</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link text-light p-0 opacity-75">About</a></li>
                  </ul>
                </div>
          
                <div class="col-6 col-md-2 mb-3">
                  <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link text-light opacity-75 btn btn-lg btn-dark rounded-0 ">Apply</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link text-light opacity-75 btn btn-lg btn-dark rounded-0">Features</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link text-light opacity-75 btn btn-lg btn-dark rounded-0">Pricing</a></li>
                  </ul>
                </div>
          
                
              </div>
          
              <div class="d-flex flex-column flex-sm-row justify-content-center justify-content-sm-between py-4 my-4 border-top">
                <p>© 2022 Company, Inc. All rights reserved.</p>
                <ul class="list-unstyled d-flex">
                  <li class="ms-3"><a class="link-light" href="#"><i class="bi bi-twitter fs-4"></i></a></li>
                  <li class="ms-3"><a class="link-light" href="#"><i class="bi bi-instagram fs-4"></i></a></li>
                  <li class="ms-3"><a class="link-light" href="#"><i class="bi bi-facebook fs-4"></i></a></li>
                </ul>
              </div>
          </div>

    </footer>

    <script src="../static/js/glider.min.js"></script>
    <script>
        new Glider(document.querySelector('#staffs'), {
            slidesToShow: 2,
            slidesToScroll: 1,
            // draggable: true,
            dots: '#teachers-carousel-dots',
            arrows: {
                prev: '.staff-carousel-prev',
                next: '.staff-carousel-next'
            },
            responsive: [
                {
                    // screens greater than >= 775px
                    breakpoint: 775,
                    settings: {
                        // Set to `auto` and provide item width to adjust to viewport
                        slidesToShow: 4,
                        slidesToScroll: 2,
                        itemWidth: 100,
                    }
                }]
        });
    </script>


    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="../static/js/home.js"></script>
</body>

</html>